* {
  padding: 0;
  margin: 0;
}

/*html {
  --tree-color: {{treeColor}};
  --tree-shadow-color: {{treeShadowColor}};
  --trunk-color: {{trunkColor}};
  --star-color: {{starColor}};
  --star-light-color: {{starLightColor}};
}*/

#tree .leaves {
  fill: var(--tree-color);
}

#tree #shadow {
  fill: var(--tree-shadow-color);
}

#tree #trunk {
  fill: var(--trunk-color);
}

#star * {
  fill: var(--star-color);
}

#star .star-light {
  fill: var(--star-light-color);
}

.main-container {
  width: 500px;
}

#tree {
  fill: hsl(42, 131, 68);
}

.eyes-closed,
.eyes-opened,
.mouth {
  width: 2.5rem;
  rotate: z 270deg;
}

.face-container {
  height: 100%;
  display: grid;
  place-items: center;
}

.face {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}

.eyes-closed-container,
.eyes-opened-container {
  position: absolute;
  top: 230px;
  width: 150px;
  display: flex;
  justify-content: space-around;
}

.mouth {
  align-self: start;
  position: absolute;
  top: 250px;
}

.hidden {
  display: none;
}
