* {
  padding: 0;
  margin: 0;
}

html {
  --tree-h: 91;
  --tree-s: 80%;
  --tree-l: 55%;
  --tree-color: hsl(var(--tree-h), var(--tree-s), var(--tree-l));
  --tree-shadow-color: hsl(
    var(--tree-h),
    var(--tree-l),
    calc(var(--tree-l) - 12%)
  );
  --trunk-color: hsl(22, 75%, 28%);
  --star-color: hsl(60, 100%, 50%);
}

#tree .leaves {
  fill: var(--tree-color);
}

#tree #tree-shadow {
  fill: var(--tree-shadow-color);
}

#tree #trunk {
  fill: var(--trunk-color);
}

#star {
  fill: var(--star-color);
}

.main-container {
  width: 500px;
}

/* Face styles */

.eyes-closed,
.eyes-opened,
.mouth {
  width: 2.5rem;
  rotate: z 270deg;
}

.face-container {
  height: 100%;
  display: grid;
  place-items: center;
}

.face {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}

.eyes-closed-container {
  position: absolute;
  top: 230px;
  width: 150px;
  display: flex;
  justify-content: space-around;
}

.eyes-opened-container {
  position: absolute;
  display: flex;
  width: 150px;
  height: auto;
  justify-content: space-around;
}

.mouth {
  align-self: start;
  position: absolute;
  top: 250px;
}

.hidden {
  display: none;
}

/* Inputs styling */
